* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          transition: .3s;
}

body {
  background: linear-gradient(to top, #191919, #ccc) center center no-repeat;
  color: #fff;
}
h1{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.main {
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 700px;
  border: 2px solid #191919;
  background-color: #fff;
}
.tetris {
  width: 500px;
  height: 900px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}
.excel {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}
.figure, .set {
  background-color: #282828;
}
input {
  display: block;
  margin: 50px auto;
  font-size: 30px;
  padding: 10px;
}
.controls {
  padding: 20px;
  position: absolute;
  top: 200px;
  right: 200px;
}
.modal {
  position: fixed;
  text-transform: uppercase;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.button {
  color: #282828;
  border: 2px solid #282828;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  padding: 30px 0;
  cursor: pointer;
  font-size: 25px;
  transition: all .3s;
}
.button:hover {
  border-radius: 40px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to top, #191919, #ccc) no-repeat;
}